.root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-image: url('../../../assets/homepage.jpg');
    width: 500px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.btn_close {
    all: unset;
    cursor: pointer;
    background-image: url('../../../assets/homepage.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    color: rgba(4, 238, 246, 0.3);
}

.btn_close:hover {
    border: 1px solid rgba(0, 214, 252, 1);
    color: rgba(0, 214, 252, 1);
}

.star {
    position: absolute;
    width: 250px;
    bottom: 28%;
    animation: appearence 2s normal;
    opacity: 0.3;
    z-index: 0;
}

@keyframes appearence {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 0.3;
        transform: scale(1.7);
    }
}

.red {
    content: url("./images/redStar.png");
}

.blue {
    content: url("./images/blueStar.png");
}

.draw {
    content: url("./images/whiteStar.png");
}

.content h2 {
    font-size: 40px;
    font-weight: 700;
}

.content h3 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    z-index: 1;
}

@media screen and (max-width: 667px) {
    .root {
        top: 55%
    }

    .cover {
        align-items: flex-start;
    }

    .content {
        width: 300px;
        height: 300px;
    }

    .content_btn {
        width: 20px;
        height: 20px;
        font-size: 11px;
    }

    .star {
        width: 120px;
        bottom: 32%;
    }

    .content h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .modal_btn {
        width: 100px;
        height: 50px;
        font-size: 14px;
    }
}