.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.titleContainer {
    position: relative;
    bottom: 7%;
    display: flex;
    align-items: center;
    font-size: 40px;
    background-image: linear-gradient(to right, blue, red 80%);
    color: transparent;
    background-clip: text;

}

.logoGame {
    margin-right: 15px;
    width: 100px;
    height: 100px;

}

.combat {
    width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-44%, -50%);
}

.btnsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lfgBtn {
    margin-right: 30px;
}

@media screen and (max-width: 860px) {
    .combat {
        max-width: 560px;
    }

}

@media screen and (max-width: 668px) {


    .combat {
        max-width: 350px;
    }

    .logoGame {
        width: 50px;
        height: 50px;
    }

    .titleContainer {
        font-size: 24px;

    }

    .btnsContainer {
        margin-top: 80px;
    }

}