.root {
    display: flex;
    justify-content: center;

}

.hand_content {
    width: 220px;
    max-width: 220px;
}

.shining {
    animation: glowBlue 1s infinite alternate;
}

@keyframes glowBlue {
    from {
        filter: drop-shadow(0 0 0px blue);

    }

    to {
        filter: drop-shadow(0 0 20px rgb(0, 179, 255));

    }
}

.root img {
    width: 100%;
}

.card+.card {
    margin-top: -57%;
}

.active {
    transition: all 0.3s ease-in-out;
}

.right.active {
    margin-left: -80px;
    margin-bottom: 50px;
    border: 10px solid blue;
    box-shadow: 1px 1px 10px rgb(74, 76, 200), 1px 1px 10px rgb(4, 8, 246);
}

.left.active {
    margin-right: -80px;
    border: 10px solid red;
    box-shadow: 1px 1px 10px rgb(200, 74, 74), 1px 1px 10px rgb(246, 4, 4);
    margin-bottom: 50px;

}



.score {
    position: absolute;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.score div {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;

}

.score.left div {

    background-color: #ff00009e;
    border: 5px solid red;
    box-shadow: 1px 1px 10px rgb(200, 74, 74), 1px 1px 10px rgb(246, 4, 4);
}

.score.right div {

    background-color: #0800ff9e;
    border: 5px solid blue;
    box-shadow: 1px 1px 10px rgb(74, 76, 200), 1px 1px 10px rgb(4, 8, 246);
}

.score span {
    margin-right: 10px;
}

@media screen and (max-width: 1100px) {
    .hand_content {
        max-width: 185px;
    }

    .score {
        bottom: -5%;
    }
}

@media screen and (max-width: 860px) {
    .hand_content {
        max-width: 145px;
    }

    .score {
        bottom: 10%;
    }
}

@media screen and (max-width: 667px) {
    .hand_content {
        max-width: 120px;
    }

    .score {
        bottom: -20%;
        font-size: 16px;
    }

    .right.active {
        border-width: 2px;
        margin-left: -20px;
        margin-bottom: 20px;
    }

    .left.active {
        border-width: 2px;
    }

    .score div {
        width: 35px;
        height: 35px;

    }


}