.root {
    border: 10px solid black;
    background: rgb(135, 105, 184);
    width: 100%;
    height: 220px;
    cursor: pointer;
    background-size: cover;
}

.values {
    font-weight: bold;
    color: rgb(158, 151, 205);
    font-size: 25px;
    position: relative;
    top: 5%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px rgb(21, 21, 84), 0 -18px 40px rgb(0, 0, 255);
}

.values div {
    position: absolute;

}

.values div:nth-child(1) {
    left: 50%;
    top: -15%;
}

.values div:nth-child(2) {
    left: 100%;
    top: 25%;
}

.values div:nth-child(3) {
    bottom: -15%;
    left: 50%;
}

.values div:nth-child(4) {
    top: 25%;
    left: 0%;
}

.p1 {
    border-color: blue;
}

.p2 {
    border-color: red;
}

@media screen and (max-width: 1100px) {
    .root {
        border-width: 3px;
        max-height: 175px;
    }

}

@media screen and (max-width: 860px) {
    .root {
        border-width: 2px;

        max-height: 135px;
    }

    .values {
        font-size: 15px;
    }

    .values div:nth-child(1) {
        left: 10%;
        top: -15%;
    }

    .values div:nth-child(2) {
        left: 30%;
        top: 10%;
    }

    .values div:nth-child(3) {
        bottom: 30%;
        left: 10%;
    }

    .values div:nth-child(4) {
        top: 10%;
        left: -15%;
    }
}

@media screen and (max-width: 666px) {
    .root {

        max-height: 115px;
    }
}