.root {
    position: absolute;
    top: -20%;
    z-index: 10;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}



.content {
    background-image: url('../../assets/homepage.jpg');
    width: 500px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.star {
    position: absolute;
    width: 250px;
    bottom: 28%;
    animation: appearence 2s normal;
    opacity: 0.3;
    z-index: 0;
}

@keyframes appearence {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 0.3;
        transform: scale(1.7);
    }
}

.red {
    content: url("./images/redStar.png");
}

.blue {
    content: url("./images/blueStar.png");
}

.draw {
    content: url("./images/whiteStar.png");
}

.content h2 {
    font-size: 40px;
    font-weight: 700;
}

.content h3 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    z-index: 1;
}