.root {
    position: relative;
    margin: 2% auto 0;
    padding: 50px 0;
    background: url(../../assets/board-mat.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 1164px;
    height: 679px;
    display: flex;
    justify-content: space-around;
    filter: drop-shadow(0px 0px 15px #fff);
    border-radius: 20px;
}

.root.board2 {
    background: url(../../assets/board-mat2.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.buttonContainer {
    width: 100%;
    position: absolute;
    bottom: -20%;
    display: flex;
    justify-content: center;
}

.bgBtn {
    margin-right: 50px;
}

.resetBtn {
    border: solid 1px rgba(246, 4, 4, 0.3);
    color: rgba(246, 4, 4, 0.5);
}

.resetBtn:before {
    background: rgb(246, 4, 4);
}

.resetBtn:after {

    background: rgb(252, 0, 0);

}

.resetBtn:hover {
    box-shadow: 1px 1px 8px rgba(252, 0, 0, 0.3);
    color: rgb(252, 0, 0);
    text-shadow: 0 0 8px rgba(252, 0, 0, 0.4);
}

.resetBtn:before :hover {
    left: 0;
    width: 20px;
}

.resetBtn:after:hover {
    right: 0;
    width: 20px;
}

.resetBtn:hover .resetBtn_span:before {
    bottom: 0;
}

.resetBtn:hover .resetBtn_span:after {
    top: 0;
}


.resetBtn_span:before {
    content: "";
    position: absolute;
    bottom: 30%;
    right: 0;
    width: 1px;
    height: 20px;
    transform: translateX(1px);
    background: rgb(252, 0, 0);
    transition: all 0.25s ease;
}

.resetBtn_span:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    width: 1px;
    height: 20px;
    transform: translateX(-1px);
    background: rgb(252, 0, 0);
    transition: all 0.25s ease;
}