.root {
    margin: 0 auto;
    padding: 50px 0;
    background: url(./assets/board-mat.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 1164px;
    height: 679px;
    display: flex;
    justify-content: space-around;
}

.hands {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.card+.card {
    margin-top: -57%;
}

.board {

    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cell {

    width: 33%;
    height: 33%;
    cursor: pointer;
}

.cell:hover {
    background-color: rgba(255, 255, 255, .1);
}